 h1 {text-align: center;
	 color: white;
	 background: linear-gradient(to right, rgb(162, 0, 255), rgb(74, 15, 236));
	 background-size: 100% 4px;
	 background-position: bottom;
	 background-repeat: no-repeat;
	 line-height: 60px;
}

h4 {text-align: center;
	 color: white;
}

userinf {text-align: center;}


 body {
    height: 100%;
    background: radial-gradient(#33383f,rgb(42,47,53));
}
form{text-align: center}

button {
	height: 64px;
	width: 140px;
	border-radius: 1000px;
	border: none;
	color: white;
	font-family: sans-serif;
	font-size: 22px;
	background: linear-gradient(to right, rgb(162, 0, 255), rgb(74, 15, 236));
	transition: 0.2s;
}
button:hover{
	width: 200px;
}
button:focus{
	outline: none;
	width: 200px;
}